In [3]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("/Users/jjbokan3/Dev Work/MTA Real Time Project/stop_times.txt", sep=',', header=0)

In [3]:
df

,trip_id,stop_id,arrival_time,departure_time,stop_sequence
0,AFA23GEN-1038-Sunday-00_000600_1..S03R,101S,00:06:00,00:06:00,1
1,AFA23GEN-1038-Sunday-00_000600_1..S03R,103S,00:07:30,00:07:30,2
2,AFA23GEN-1038-Sunday-00_000600_1..S03R,104S,00:09:00,00:09:00,3
3,AFA23GEN-1038-Sunday-00_000600_1..S03R,106S,00:10:30,00:10:30,4
4,AFA23GEN-1038-Sunday-00_000600_1..S03R,107S,00:12:00,00:12:00,5
...,...,...,...,...,...
557260,SIR-FA2017-SI017-Weekday-08_147100_SI..N03R,S27N,25:03:00,25:03:00,17
557261,SIR-FA2017-SI017-Weekday-08_147100_SI..N03R,S28N,25:06:00,25:06:00,18
557262,SIR-FA2017-SI017-Weekday-08_147100_SI..N03R,S29N,25:08:00,25:08:00,19
557263,SIR-FA2017-SI017-Weekday-08_147100_SI..N03R,S30N,25:10:00,25:10:00,20
557264,SIR-FA2017-SI017-Weekday-08_147100_SI..N03R,S31N,25:13:00,25:13:00,21

In [6]:
reg = re.compile(r".*_(\w+)\.+\w+")

In [7]:
df['Line'] = df['trip_id'].apply(lambda x: reg.match(x).groups(1)[0])

In [9]:
df['Line'].value_counts()

Line
6     43665
1     43244
2     42913
F     37696
L     35531
A     32124
7     31486
R     29228
4     28545
N     28298
D     26001
Q     25536
J     22588
C     21360
3     21095
E     19404
5     17352
G     17094
M     13898
SI     6716
B      6066
FS     2640
H      2405
GS     2380
Name: count, dtype: int64

In [10]:
df = pd.read_csv("/Users/jjbokan3/Downloads/MTA_Subway_Stations_20240804.csv", header=0, sep=',')

In [11]:
df

,GTFS Stop ID,Station ID,Complex ID,Division,Line,Stop Name,Borough,CBD,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Northbound,ADA Southbound,ADA Notes,Georeference
0,R01,1,1,BMT,Astoria,Astoria-Ditmars Blvd,Q,False,N W,Elevated,40.775036,-73.912034,Last Stop,Manhattan,0,0,0,NaN,POINT (-73.912034 40.775036)
1,R03,2,2,BMT,Astoria,Astoria Blvd,Q,False,N W,Elevated,40.770258,-73.917843,Astoria,Manhattan,1,1,1,NaN,POINT (-73.917843 40.770258)
2,R04,3,3,BMT,Astoria,30 Av,Q,False,N W,Elevated,40.766779,-73.921479,Astoria,Manhattan,0,0,0,NaN,POINT (-73.921479 40.766779)
3,R05,4,4,BMT,Astoria,Broadway,Q,False,N W,Elevated,40.761820,-73.925508,Astoria,Manhattan,0,0,0,NaN,POINT (-73.925508 40.76182)
4,R06,5,5,BMT,Astoria,36 Av,Q,False,N W,Elevated,40.756804,-73.929575,Astoria,Manhattan,0,0,0,NaN,POINT (-73.929575 40.756804)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,S15,517,517,SIR,Staten Island,Prince's Bay,SI,False,SIR,Open Cut,40.525507,-74.200064,Ferry,South Shore,0,0,0,NaN,POINT (-74.200064 40.525507)
492,S14,518,518,SIR,Staten Island,Pleasant Plains,SI,False,SIR,Embankment,40.522410,-74.217847,Ferry,South Shore,0,0,0,NaN,POINT (-74.217847 40.52241)
493,S13,519,519,SIR,Staten Island,Richmond Valley,SI,False,SIR,Open Cut,40.519631,-74.229141,Ferry,Tottenville,0,0,0,NaN,POINT (-74.229141 40.519631)
494,S09,522,522,SIR,Staten Island,Tottenville,SI,False,SIR,At Grade,40.512764,-74.251961,Ferry,Last Stop,1,1,1,NaN,POINT (-74.251961 40.512764)
495,S11,523,523,SIR,Staten Island,Arthur Kill,SI,False,SIR,At Grade,40.516578,-74.242096,Ferry,Tottenville,1,1,1,NaN,POINT (-74.242096 40.516578)

In [4]:
df = pd.read_csv("/Users/jjbokan3/Dev Work/MTA Real Time Project/trips.txt", sep=',', header=0)

In [9]:
for route in df['route_id'].unique():
    print(route)
    print(df[df['route_id'] == route]['trip_headsign'].value_counts())
    print("\n\n")

1
trip_headsign
South Ferry                  571
Van Cortlandt Park-242 St    563
137 St-City College            4
215 St                         4
Name: count, dtype: int64



2
trip_headsign
Wakefield-241 St                424
Flatbush Av-Brooklyn College    419
New Lots Av                       5
Name: count, dtype: int64



3
trip_headsign
Harlem-148 St     361
New Lots Av       292
Times Sq-42 St     69
Name: count, dtype: int64



4
trip_headsign
Woodlawn                            433
Crown Hts-Utica Av                  358
New Lots Av                          91
Burnside Av                          14
Bedford Park Blvd-Lehman College      5
Bowling Green                         3
Name: count, dtype: int64



5
trip_headsign
Eastchester-Dyre Av             350
Bowling Green                   164
Flatbush Av-Brooklyn College    108
E 180 St                         96
Crown Hts-Utica Av               14
Nereid Av                        12
Gun Hill Rd                       3
Name: count, dtype: int64



6
trip_headsign
Brooklyn Bridge-City Hall    555
Pelham Bay Park              442
Parkchester                   96
3 Av-138 St                    4
Name: count, dtype: int64



6X
trip_headsign
Pelham Bay Park              63
Brooklyn Bridge-City Hall    50
Name: count, dtype: int64



GS
trip_headsign
Times Sq-42 St         595
Grand Central-42 St    595
Name: count, dtype: int64



A
trip_headsign
Inwood-207 St                 404
Far Rockaway-Mott Av          233
Ozone Park-Lefferts Blvd      232
Euclid Av                      55
Rockaway Park-Beach 116 St      5
Dyckman St                      4
168 St                          3
Name: count, dtype: int64



B
trip_headsign
Brighton Beach       98
145 St               62
Bedford Park Blvd    33
Kingsbridge Rd        3
Name: count, dtype: int64



C
trip_headsign
Euclid Av    267
168 St       267
Name: count, dtype: int64



D
trip_headsign
Coney Island-Stillwell Av    353
Norwood-205 St               350
Bedford Park Blvd              3
Name: count, dtype: int64



E
trip_headsign
World Trade Center               415
Jamaica Center-Parsons/Archer    408
Jamaica-179 St                     7
Name: count, dtype: int64



F
trip_headsign
Jamaica-179 St               403
Coney Island-Stillwell Av    364
Kings Hwy                     38
Church Av                      1
Name: count, dtype: int64



FX
trip_headsign
Jamaica-179 St               2
Coney Island-Stillwell Av    2
Name: count, dtype: int64



FS
trip_headsign
Prospect Park    330
Franklin Av      330
Name: count, dtype: int64



G
trip_headsign
Church Av    407
Court Sq     407
Name: count, dtype: int64



H
trip_headsign
Broad Channel                 241
Rockaway Park-Beach 116 St    240
Name: count, dtype: int64



J
trip_headsign
Broad St                         378
Jamaica Center-Parsons/Archer    376
Broadway Junction                  5
Name: count, dtype: int64



L
trip_headsign
8 Av                      745
Canarsie-Rockaway Pkwy    735
Myrtle-Wyckoff Avs         10
Name: count, dtype: int64



M
trip_headsign
Middle Village-Metropolitan Av    387
Delancey St-Essex St              210
Forest Hills-71 Av                100
Myrtle Av                          79
Name: count, dtype: int64



N
trip_headsign
Coney Island-Stillwell Av    358
Astoria-Ditmars Blvd         353
96 St                          6
Name: count, dtype: int64



W
trip_headsign
Astoria-Ditmars Blvd        93
Whitehall St-South Ferry    91
86 St                        3
Name: count, dtype: int64



Q
trip_headsign
Coney Island-Stillwell Av    430
96 St                        429
Name: count, dtype: int64



R
trip_headsign
Bay Ridge-95 St             367
Forest Hills-71 Av          274
Whitehall St-South Ferry     60
Queens Plaza                 32
96 St                         1
59 St                         1
Name: count, dtype: int64



7
trip_headsign
34 St-Hudson Yards    685
Flushing-Main St      634
Mets-Willets Point     28
Name: count, dtype: int64



7X
trip_headsign
Flushing-Main St      65
34 St-Hudson Yards    42
Name: count, dtype: int64



Z
trip_headsign
Broad St                         6
Jamaica Center-Parsons/Archer    6
Name: count, dtype: int64



SI
trip_headsign
St George      167
Tottenville    160
Great Kills     14
Name: count, dtype: int64

In [40]:
df1 = pd.read_csv(r"/Users/jjbokan3/Dev Work/MTA Real Time Project/stops.txt", header=0)
df2 = pd.read_csv(r"/Users/jjbokan3/Downloads/MTA_Subway_Stations_20240804.csv", header=0)

In [12]:
df1

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station
0,101,Van Cortlandt Park-242 St,40.889248,-73.898583,1.0,NaN
1,101N,Van Cortlandt Park-242 St,40.889248,-73.898583,NaN,101
2,101S,Van Cortlandt Park-242 St,40.889248,-73.898583,NaN,101
3,103,238 St,40.884667,-73.900870,1.0,NaN
4,103N,238 St,40.884667,-73.900870,NaN,103
...,...,...,...,...,...,...
1492,S30N,Tompkinsville,40.636949,-74.074835,NaN,S30
1493,S30S,Tompkinsville,40.636949,-74.074835,NaN,S30
1494,S31,St George,40.643748,-74.073643,1.0,NaN
1495,S31N,St George,40.643748,-74.073643,NaN,S31
1496,S31S,St George,40.643748,-74.073643,NaN,S31

In [20]:
df2

,GTFS Stop ID,Station ID,Complex ID,Division,Line,Stop Name,Borough,CBD,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Northbound,ADA Southbound,ADA Notes,Georeference
0,R01,1,1,BMT,Astoria,Astoria-Ditmars Blvd,Q,False,N W,Elevated,40.775036,-73.912034,Last Stop,Manhattan,0,0,0,NaN,POINT (-73.912034 40.775036)
1,R03,2,2,BMT,Astoria,Astoria Blvd,Q,False,N W,Elevated,40.770258,-73.917843,Astoria,Manhattan,1,1,1,NaN,POINT (-73.917843 40.770258)
2,R04,3,3,BMT,Astoria,30 Av,Q,False,N W,Elevated,40.766779,-73.921479,Astoria,Manhattan,0,0,0,NaN,POINT (-73.921479 40.766779)
3,R05,4,4,BMT,Astoria,Broadway,Q,False,N W,Elevated,40.761820,-73.925508,Astoria,Manhattan,0,0,0,NaN,POINT (-73.925508 40.76182)
4,R06,5,5,BMT,Astoria,36 Av,Q,False,N W,Elevated,40.756804,-73.929575,Astoria,Manhattan,0,0,0,NaN,POINT (-73.929575 40.756804)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,S15,517,517,SIR,Staten Island,Prince's Bay,SI,False,SIR,Open Cut,40.525507,-74.200064,Ferry,South Shore,0,0,0,NaN,POINT (-74.200064 40.525507)
492,S14,518,518,SIR,Staten Island,Pleasant Plains,SI,False,SIR,Embankment,40.522410,-74.217847,Ferry,South Shore,0,0,0,NaN,POINT (-74.217847 40.52241)
493,S13,519,519,SIR,Staten Island,Richmond Valley,SI,False,SIR,Open Cut,40.519631,-74.229141,Ferry,Tottenville,0,0,0,NaN,POINT (-74.229141 40.519631)
494,S09,522,522,SIR,Staten Island,Tottenville,SI,False,SIR,At Grade,40.512764,-74.251961,Ferry,Last Stop,1,1,1,NaN,POINT (-74.251961 40.512764)
495,S11,523,523,SIR,Staten Island,Arthur Kill,SI,False,SIR,At Grade,40.516578,-74.242096,Ferry,Tottenville,1,1,1,NaN,POINT (-74.242096 40.516578)

In [19]:
df1_clean = df1[~df1['stop_id'].str.contains(r'^.*\d+[NS]', regex=True)]

In [23]:
final = pd.merge(df1_clean, df2, left_on='stop_id', right_on='GTFS Stop ID', how='inner')

In [25]:
sum(final['stop_lat'] != final['GTFS Latitude'])

1

In [29]:
final[final['stop_lon'] != final['GTFS Longitude']]#[['stop_lat', 'stop_lon', 'GTFS Latitude', 'GTFS Longitude']]

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station,GTFS Stop ID,Station ID,Complex ID,Division,...,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Northbound,ADA Southbound,ADA Notes,Georeference
347,H01,Aqueduct Racetrack,40.668234,-73.834058,1.0,NaN,H01,196,196,IND,...,At Grade,40.672369,-73.835254,Manhattan,Rockaways,1,1,1,NaN,POINT (-73.835254 40.672369)

In [41]:
df2['Order'] = list(range(0, len(df2)))

In [43]:
df2['Daytime Routes'] = df2['Daytime Routes'].apply(lambda x: x.split(' '))

In [44]:
df2 = df2.explode("Daytime Routes")

In [42]:
df2

,GTFS Stop ID,Station ID,Complex ID,Division,Line,Stop Name,Borough,CBD,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Northbound,ADA Southbound,ADA Notes,Georeference,Order
0,R01,1,1,BMT,Astoria,Astoria-Ditmars Blvd,Q,False,N W,Elevated,40.775036,-73.912034,Last Stop,Manhattan,0,0,0,NaN,POINT (-73.912034 40.775036),0
1,R03,2,2,BMT,Astoria,Astoria Blvd,Q,False,N W,Elevated,40.770258,-73.917843,Astoria,Manhattan,1,1,1,NaN,POINT (-73.917843 40.770258),1
2,R04,3,3,BMT,Astoria,30 Av,Q,False,N W,Elevated,40.766779,-73.921479,Astoria,Manhattan,0,0,0,NaN,POINT (-73.921479 40.766779),2
3,R05,4,4,BMT,Astoria,Broadway,Q,False,N W,Elevated,40.761820,-73.925508,Astoria,Manhattan,0,0,0,NaN,POINT (-73.925508 40.76182),3
4,R06,5,5,BMT,Astoria,36 Av,Q,False,N W,Elevated,40.756804,-73.929575,Astoria,Manhattan,0,0,0,NaN,POINT (-73.929575 40.756804),4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,S15,517,517,SIR,Staten Island,Prince's Bay,SI,False,SIR,Open Cut,40.525507,-74.200064,Ferry,South Shore,0,0,0,NaN,POINT (-74.200064 40.525507),491
492,S14,518,518,SIR,Staten Island,Pleasant Plains,SI,False,SIR,Embankment,40.522410,-74.217847,Ferry,South Shore,0,0,0,NaN,POINT (-74.217847 40.52241),492
493,S13,519,519,SIR,Staten Island,Richmond Valley,SI,False,SIR,Open Cut,40.519631,-74.229141,Ferry,Tottenville,0,0,0,NaN,POINT (-74.229141 40.519631),493
494,S09,522,522,SIR,Staten Island,Tottenville,SI,False,SIR,At Grade,40.512764,-74.251961,Ferry,Last Stop,1,1,1,NaN,POINT (-74.251961 40.512764),494
495,S11,523,523,SIR,Staten Island,Arthur Kill,SI,False,SIR,At Grade,40.516578,-74.242096,Ferry,Tottenville,1,1,1,NaN,POINT (-74.242096 40.516578),495

In [49]:
df2[df2['Daytime Routes'] == '5']

,GTFS Stop ID,Station ID,Complex ID,Division,Line,Stop Name,Borough,CBD,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Northbound,ADA Southbound,ADA Notes,Georeference,Order
337,234,337,337,IRT,Eastern Pky,Nevins St,Bk,False,5,Subway,40.688246,-73.980492,Manhattan,Outbound,0,0,0,NaN,POINT (-73.980492 40.688246),337
338,235,338,617,IRT,Eastern Pky,Atlantic Av-Barclays Ctr,Bk,False,5,Subway,40.684359,-73.977666,Manhattan,Outbound,1,1,1,NaN,POINT (-73.977666 40.684359),338
342,239,342,626,IRT,Eastern Pky,Franklin Av-Medgar Evers College,Bk,False,5,Subway,40.670682,-73.958131,Manhattan,Outbound,0,0,0,NaN,POINT (-73.958131 40.670682),342
353,241,353,353,IRT,Nostrand,President St-Medgar Evers College,Bk,False,5,Subway,40.667883,-73.950683,Manhattan,Flatbush,0,0,0,NaN,POINT (-73.950683 40.667883),353
354,242,354,354,IRT,Nostrand,Sterling St,Bk,False,5,Subway,40.662742,-73.950850,Manhattan,Flatbush,0,0,0,NaN,POINT (-73.95085 40.662742),354
355,243,355,355,IRT,Nostrand,Winthrop St,Bk,False,5,Subway,40.656652,-73.950200,Manhattan,Flatbush,0,0,0,NaN,POINT (-73.9502 40.656652),355
356,244,356,356,IRT,Nostrand,Church Av,Bk,False,5,Subway,40.650843,-73.949575,Manhattan,Flatbush,1,1,1,NaN,POINT (-73.949575 40.650843),356
357,245,357,357,IRT,Nostrand,Beverly Rd,Bk,False,5,Subway,40.645098,-73.948959,Manhattan,Flatbush,0,0,0,NaN,POINT (-73.948959 40.645098),357
358,246,358,358,IRT,Nostrand,Newkirk Av-Little Haiti,Bk,False,5,Subway,40.639967,-73.948411,Manhattan,Flatbush,0,0,0,NaN,POINT (-73.948411 40.639967),358
359,247,359,359,IRT,Nostrand,Flatbush Av-Brooklyn College,Bk,False,5,Subway,40.632836,-73.947642,Manhattan,Last Stop,1,1,1,NaN,POINT (-73.947642 40.632836),359
391,416,391,391,IRT,Jerome Av,138 St-Grand Concourse,Bx,False,5,Subway,40.813224,-73.929849,Northbound,Manhattan,0,0,0,NaN,POINT (-73.929849 40.813224),391
392,621,392,392,IRT,Lexington Av,125 St,M,False,5,Subway,40.804138,-73.937594,The Bronx,Downtown,1,1,1,NaN,POINT (-73.937594 40.804138),392
397,626,397,397,IRT,Lexington Av,86 St,M,False,5,Subway,40.779492,-73.955589,Uptown,Downtown,2,1,0,Uptown local only,POINT (-73.955589 40.779492),397
400,629,400,613,IRT,Lexington Av,59 St,M,True,5,Subway,40.762526,-73.967967,Uptown,Downtown,0,0,0,NaN,POINT (-73.967967 40.762526),400
402,631,402,610,IRT,Lexington Av,Grand Central-42 St,M,True,5,Subway,40.751776,-73.976848,Uptown,Downtown,1,1,1,NaN,POINT (-73.976848 40.751776),402
406,635,406,602,IRT,Lexington Av,14 St-Union Sq,M,True,5,Subway,40.734673,-73.989951,Uptown,Downtown,0,0,0,NaN,POINT (-73.989951 40.734673),406
411,640,411,622,IRT,Lexington Av,Brooklyn Bridge-City Hall,M,True,5,Subway,40.713065,-74.004131,Uptown,Downtown,1,1,1,NaN,POINT (-74.004131 40.713065),411
412,418,412,628,IRT,Lexington Av,Fulton St,M,True,5,Subway,40.710368,-74.009509,Uptown,Downtown,1,1,1,NaN,POINT (-74.009509 40.710368),412
413,419,413,413,IRT,Lexington Av,Wall St,M,True,5,Subway,40.707557,-74.011862,Uptown,Downtown,0,0,0,NaN,POINT (-74.011862 40.707557),413
414,420,414,414,IRT,Lexington Av,Bowling Green,M,True,5,Subway,40.704817,-74.014065,Uptown,Downtown,1,1,1,NaN,POINT (-74.014065 40.704817),414
415,423,415,620,IRT,Eastern Pky,Borough Hall,Bk,False,5,Subway,40.692404,-73.990151,Manhattan,Outbound,2,1,0,Manhattan-bound only,POINT (-73.990151 40.692404),415
417,204,417,417,IRT,Lenox - White Plains Rd,Nereid Av,Bx,False,5,Elevated,40.898379,-73.854376,Northbound,Manhattan,0,0,0,NaN,POINT (-73.854376 40.898379),417
418,205,418,418,IRT,Lenox - White Plains Rd,233 St,Bx,False,5,Elevated,40.893193,-73.857473,Northbound,Manhattan,1,1,1,NaN,POINT (-73.857473 40.893193),418
419,206,419,419,IRT,Lenox - White Plains Rd,225 St,Bx,False,5,Elevated,40.888022,-73.860341,Northbound,Manhattan,0,0,0,NaN,POINT (-73.860341 40.888022),419
420,207,420,420,IRT,Lenox - White Plains Rd,219 St,Bx,False,5,Elevated,40.883895,-73.862633,Northbound,Manhattan,0,0,0,NaN,POINT (-73.862633 40.883895),420
421,208,421,421,IRT,Lenox - White Plains Rd,Gun Hill Rd,Bx,False,5,Elevated,40.877850,-73.866256,Northbound,Manhattan,1,1,1,NaN,POINT (-73.866256 40.87785),421
422,209,422,422,IRT,Lenox - White Plains Rd,Burke Av,Bx,False,5,Elevated,40.871356,-73.867164,Northbound,Manhattan,0,0,0,NaN,POINT (-73.867164 40.871356),422
423,210,423,423,IRT,Lenox - White Plains Rd,Allerton Av,Bx,False,5,Elevated,40.865462,-73.867352,Northbound,Manhattan,0,0,0,NaN,POINT (-73.867352 40.865462),423
424,211,424,424,IRT,Lenox - White Plains Rd,Pelham Pkwy,Bx,False,5,Elevated,40.857192,-73.867615,Northbound,Manhattan,1,1,1,NaN,POINT (-73.867615 40.857192),424
425,212,425,425,IRT,Lenox - White Plains Rd,Bronx Park East,Bx,False,5,Elevated,40.848828,-73.868457,Northbound,Manhattan,0,0,0,NaN,POINT (-73.868457 40.848828),425
426,213,426,426,IRT,Lenox - White Plains Rd,E 180 St,Bx,False,5,Elevated,40.841894,-73.873488,Northbound,Manhattan,1,1,1,NaN,POINT (-73.873488 40.841894),426
427,214,427,427,IRT,Lenox - White Plains Rd,West Farms Sq-E Tremont Av,Bx,False,5,Elevated,40.840295,-73.880049,Northbound,Manhattan,0,0,0,NaN,POINT (-73.880049 40.840295),427
428,215,428,428,IRT,Lenox - White Plains Rd,174 St,Bx,False,5,Elevated,40.837288,-73.887734,Northbound,Manhattan,0,0,0,NaN,POINT (-73.887734 40.837288),428
429,216,429,429,IRT,Lenox - White Plains Rd,Freeman St,Bx,False,5,Elevated,40.829993,-73.891865,Northbound,Manhattan,0,0,0,NaN,POINT (-73.891865 40.829993),429
430,217,430,430,IRT,Lenox - White Plains Rd,Simpson St,Bx,False,5,Elevated,40.824073,-73.893064,Northbound,Manhattan,1,1,1,NaN,POINT (-73.893064 40.824073),430
431,218,431,431,IRT,Lenox - White Plains Rd,Intervale Av,Bx,False,5,Elevated,40.822181,-73.896736,Northbound,Manhattan,0,0,0,NaN,POINT (-73.896736 40.822181),431
432,219,432,432,IRT,Lenox - White Plains Rd,Prospect Av,Bx,False,5,Elevated,40.819585,-73.901770,Northbound,Manhattan,0,0,0,NaN,POINT (-73.90177 40.819585),432
433,220,433,433,IRT,Lenox - White Plains Rd,Jackson Av,Bx,False,5,Elevated,40.816490,-73.907807,Northbound,Manhattan,0,0,0,NaN,POINT (-73.907807 40.81649),433
434,221,434,434,IRT,Lenox - White Plains Rd,3 Av-149 St,Bx,False,5,Subway,40.816109,-73.917757,Northbound,Manhattan,1,1,1,NaN,POINT (-73.917757 40.816109),434
435,222,435,603,IRT,Lenox - White Plains Rd,149 St-Grand Concourse,Bx,False,5,Subway,40.818410,-73.926718,Northbound,Manhattan,0,0,0,NaN,POINT (-73.926718 40.81841),435
442,501,442,442,IRT,Dyre Av,Eastchester-Dyre Av,Bx,False,5,At Grade,40.888300,-73.830834,Last Stop,Manhattan,0,0,0,NaN,POINT (-73.830834 40.8883),442
443,502,443,443,IRT,Dyre Av,Baychester Av,Bx,False,5,Open Cut,40.878663,-73.838591,Eastchester,Manhattan,0,0,0,NaN,POINT (-73.838591 40.878663),443
444,503,444,444,IRT,Dyre Av,Gun Hill Rd,Bx,False,5,Open Cut,40.869526,-73.846384,Eastchester,Manhattan,1,1,1,NaN,POINT (-73.846384 40.869526),444
445,504,445,445,IRT,Dyre Av,Pelham Pkwy,Bx,False,5,Open Cut,40.858985,-73.855359,Eastchester,Manhattan,0,0,0,NaN,POINT (-73.855359 40.858985),445
446,505,446,446,IRT,Dyre Av,Morris Park,Bx,False,5,Open Cut,40.854364,-73.860495,Eastchester,Manhattan,0,0,0,NaN,POINT (-73.860495 40.854364),446

In [104]:
df3 = pd.read_csv(r"/Users/jjbokan3/Dev Work/MTA Real Time Project/stop_times.txt", header=0)

In [105]:
df3['Line'] = df3['trip_id'].apply(lambda x: re.match(r"^.*_(\w+)\.", x).groups(1)[0])

In [99]:
re.match(r"^.*_(\w+)\.", "SIR-FA2017-SI017-Weekday-08_147100_SI..N03R").groups(1)[0]

'SI'

In [94]:
df3.groupby('Line').max()

,trip_id,stop_id,arrival_time,departure_time,stop_sequence
Line,,,,,
1,AFA23GEN-1038-Sunday-00_033200_1..N03R,142S,06:23:00,06:23:00,38
2,AFA23GEN-1038-Sunday-00_050750_1..S03R,142S,09:17:30,09:17:30,38
3,AFA23GEN-1038-Sunday-00_060250_1..N03R,142S,10:55:00,10:55:00,38
4,AFA23GEN-1038-Sunday-00_068750_1..S03R,142S,12:21:00,12:21:00,38
5,AFA23GEN-1038-Sunday-00_074300_1..N03R,142S,13:19:00,13:19:00,38
6,AFA23GEN-1038-Sunday-00_083900_1..N03R,142S,14:55:00,14:55:00,38
7,AFA23GEN-1039-Saturday-00_095300_1..N03R,142S,16:49:00,16:49:00,38
A,AFA23GEN-1038-Sunday-00_100700_1..N03R,142S,17:43:00,17:43:00,38
B,AFA23GEN-1038-Sunday-00_102500_1..N03R,142S,17:57:00,17:57:00,38
C,AFA23GEN-1038-Sunday-00_106950_1..S03R,142S,18:46:00,18:46:00,38
D,AFA23GEN-1038-Sunday-00_114150_1..S03R,142S,19:59:30,19:59:30,38
E,AFA23GEN-1038-Sunday-00_122950_1..S03R,142S,21:25:00,21:25:00,38
F,AFA23GEN-1038-Sunday-00_132350_1..S03R,142S,22:53:30,22:53:30,38
FS,AFA23GEN-1038-Sunday-00_141550_1..S03R,142S,24:32:00,24:32:00,38
G,AFA23GEN-1039-Saturday-00_017200_1..N03R,142S,25:57:30,25:57:30,38
GS,AFA23GEN-1038-Sunday-00_093350_1..S03R,142S,16:29:00,16:29:00,38
H,AFA23GEN-1039-Saturday-00_029200_1..N03R,142S,05:47:30,05:47:30,38
J,AFA23GEN-1039-Saturday-00_089150_1..S03R,142S,15:45:00,15:45:00,38
L,AFA23GEN-1039-Saturday-00_055100_1..N03R,142S,10:01:00,10:01:00,38
M,AFA23GEN-1039-Saturday-00_062150_1..S03R,142S,11:13:00,11:13:00,38
N,AFA23GEN-1039-Saturday-00_069350_1..S03R,142S,12:27:00,12:27:00,38
Q,AFA23GEN-1039-Saturday-00_075950_1..S03R,142S,13:35:00,13:35:00,38
R,AFA23GEN-1039-Saturday-00_081950_1..S03R,142S,14:33:00,14:33:00,38
SI,AFA23GEN-1039-Saturday-00_098150_1..S03R,142S,17:15:00,17:15:00,38

In [106]:
import polars as pl
pl_df3 = pl.from_pandas(df3)

In [107]:
df3.shape

(557265, 6)

In [86]:
pl_df3.shape

(557265, 6)

In [79]:
df3['Line'].value_counts()

Line
L     1490
7     1454
6     1210
GS    1190
1     1142
A      936
4      904
N      904
Q      859
2      848
E      830
G      814
F      810
M      776
J      771
5      747
R      735
3      722
D      706
FS     660
C      534
H      481
SI     341
B      196
Name: count, dtype: int64

In [199]:
pl_df3.sql("""
with cte as (SELECT trip_id, max(stop_sequence) as max_c, min(stop_sequence) as min_c
from self
group by trip_id)

select Line, max_c, stop_id, count(*) from self s
left join cte c on s.trip_id=c.trip_id and (s.stop_sequence=c.max_c OR s.stop_sequence=c.min_c)
where max_c is not null
group by s.Line, c.max_c, c.min_c, s.stop_id
--left join cte c on s.trip_id=c.trip_id and s.stop_sequence=c.min_c
;
""")#.write_excel("/Users/jjbokan3/Downloads/max.xlsx")

SQLInterfaceError: JOIN clauses support '=' constraints combined with 'AND'; found op = 'Or'

In [206]:
pl_df3.sql("""
WITH cte AS (
    SELECT 
        trip_id, 
        MAX(stop_sequence) AS max_c, 
        MIN(stop_sequence) AS min_c
    FROM self
    GROUP BY trip_id
)
SELECT 
    s.trip_id, 
    c.max_c, 
    c.min_c,
    s.stop_id, 
    COUNT(*) 
FROM 
    self s
JOIN 
    cte c ON s.trip_id = c.trip_id
WHERE 
    (s.stop_sequence = max_c OR s.stop_sequence = min_c)
GROUP BY 
    s.trip_id, c.max_c, c.min_c, s.stop_id;
""")

shape: (40_120, 5)
┌─────────────────────────────────┬───────┬───────┬─────────┬─────┐
│ trip_id                         ┆ max_c ┆ min_c ┆ stop_id ┆ len │
│ ---                             ┆ ---   ┆ ---   ┆ ---     ┆ --- │
│ str                             ┆ i64   ┆ i64   ┆ str     ┆ u32 │
╞═════════════════════════════════╪═══════╪═══════╪═════════╪═════╡
│ SIR-FA2017-SI017-Weekday-08_09… ┆ 10    ┆ 1     ┆ S31S    ┆ 1   │
│ AFA23GEN-5048-Sunday-00_096650… ┆ 25    ┆ 1     ┆ 420S    ┆ 1   │
│ AFA23GEN-3041-Sunday-00_030700… ┆ 9     ┆ 1     ┆ 301N    ┆ 1   │
│ BFA23GEN-J033-Saturday-00_0802… ┆ 30    ┆ 1     ┆ M23N    ┆ 1   │
│ AFA23GEN-6031-Sunday-00_084250… ┆ 38    ┆ 1     ┆ 640N    ┆ 1   │
│ …                               ┆ …     ┆ …     ┆ …       ┆ …   │
│ BFA23GEN-M091-Weekday-00_04520… ┆ 36    ┆ 1     ┆ G08S    ┆ 1   │
│ SIR-FA2017-SI017-Sunday-00_027… ┆ 21    ┆ 1     ┆ S09N    ┆ 1   │
│ BFA23GEN-L026-Sunday-00_020300… ┆ 24    ┆ 1     ┆ L01N    ┆ 1   │
│ BFA23GEN-M091-Weekday-00_05215… ┆ 36    ┆ 1     ┆ M01N    ┆ 1   │
│ BFA23GEN-G037-Saturday-00_0768… ┆ 21    ┆ 1     ┆ F27S    ┆ 1   │
└─────────────────────────────────┴───────┴───────┴─────────┴─────┘

# Run From here for file designating shapes that match max length

In [302]:
stops = pd.read_csv(r"/Users/jjbokan3/Dev Work/MTA Real Time Project/stops.txt", header=0)

In [303]:
stops

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station
0,101,Van Cortlandt Park-242 St,40.889248,-73.898583,1.0,NaN
1,101N,Van Cortlandt Park-242 St,40.889248,-73.898583,NaN,101
2,101S,Van Cortlandt Park-242 St,40.889248,-73.898583,NaN,101
3,103,238 St,40.884667,-73.900870,1.0,NaN
4,103N,238 St,40.884667,-73.900870,NaN,103
...,...,...,...,...,...,...
1492,S30N,Tompkinsville,40.636949,-74.074835,NaN,S30
1493,S30S,Tompkinsville,40.636949,-74.074835,NaN,S30
1494,S31,St George,40.643748,-74.073643,1.0,NaN
1495,S31N,St George,40.643748,-74.073643,NaN,S31
1496,S31S,St George,40.643748,-74.073643,NaN,S31

In [304]:
stops = stops[~stops['stop_id'].str.contains(r".*[NS]$", regex=True)]

In [305]:
stop_term = pd.read_csv("/Users/jjbokan3/Dev Work/MTA Real Time Project/termiuses.csv", header=0)
shapes = pd.read_csv("/Users/jjbokan3/Dev Work/MTA Real Time Project/shapes.txt", header=0)
shapes_pl = pl.from_pandas(shapes)

In [306]:
stop_term['Northern Terminus (Stop ID)'] = stop_term['Northern Terminus (Stop ID)'].str.split('|')
stop_term['Southern Terminus (Stop ID)'] = stop_term['Southern Terminus (Stop ID)'].str.split('|')

In [307]:
stop_term = stop_term.explode('Northern Terminus (Stop ID)')
stop_term = stop_term.explode('Southern Terminus (Stop ID)')

In [308]:
final = pd.merge(stop_term, stops[['stop_id', 'stop_lon', 'stop_lat']], left_on='Northern Terminus (Stop ID)', right_on='stop_id')
final = pd.merge(final, stops[['stop_id', 'stop_lon', 'stop_lat']], left_on='Southern Terminus (Stop ID)', right_on='stop_id', suffixes=('_north', '_south')) 
final.drop(['stop_id_north', 'stop_id_south'], inplace=True, axis=1)

In [309]:
final = pl.from_pandas(final)

In [310]:
shapes['Line'] = shapes['shape_id'].apply(lambda x: re.match(r"^(\w+)\.", x).groups(1)[0])

In [311]:
import polars as pl


# Filter to get the beginning coordinates (point_num 0)
begin_df = shapes_pl.filter(pl.col("shape_pt_sequence") == 0).rename({
    "shape_pt_lat": "begin_lat",
    "shape_pt_lon": "begin_lon"
})

# Filter to get the ending coordinates (max point_num for each key)
max_point_num_df = shapes_pl.group_by("shape_id").agg(pl.col("shape_pt_sequence").max().alias("max_point_num"))
end_df = shapes_pl.join(max_point_num_df, left_on=["shape_id", "shape_pt_sequence"], right_on=['shape_id', 'max_point_num']).rename({
    "shape_pt_lat": "end_lat",
    "shape_pt_lon": "end_lon",
    "shape_pt_sequence": "max_point"
})

# Join the beginning and ending coordinates on the key
result_df = begin_df.join(end_df, on="shape_id").select([
    "shape_id",
    "begin_lat",
    "begin_lon",
    "max_point",
    "end_lat",
    "end_lon"
])

result_df.head()

shape: (5, 6)
┌────────────┬───────────┬────────────┬───────────┬───────────┬────────────┐
│ shape_id   ┆ begin_lat ┆ begin_lon  ┆ max_point ┆ end_lat   ┆ end_lon    │
│ ---        ┆ ---       ┆ ---        ┆ ---       ┆ ---       ┆ ---        │
│ str        ┆ f64       ┆ f64        ┆ i64       ┆ f64       ┆ f64        │
╞════════════╪═══════════╪════════════╪═══════════╪═══════════╪════════════╡
│ 1..N03R    ┆ 40.702068 ┆ -74.013664 ┆ 265       ┆ 40.889248 ┆ -73.898583 │
│ 1..N03X001 ┆ 40.702068 ┆ -74.013664 ┆ 211       ┆ 40.826551 ┆ -73.95036  │
│ 1..N04R    ┆ 40.702068 ┆ -74.013664 ┆ 261       ┆ 40.884667 ┆ -73.90087  │
│ 1..N05R    ┆ 40.702068 ┆ -74.013664 ┆ 265       ┆ 40.889248 ┆ -73.898583 │
│ 1..N06R    ┆ 40.702068 ┆ -74.013664 ┆ 235       ┆ 40.864621 ┆ -73.918822 │
└────────────┴───────────┴────────────┴───────────┴───────────┴────────────┘

In [312]:
result_df = result_df.with_columns(
    pl.concat_str(['begin_lat', 'begin_lon', 'end_lat', 'end_lon'], separator=',').alias('concatenation')
)

In [313]:
final = final.with_columns(
    pl.concat_str(['stop_lat_north',
 'stop_lon_north',
 'stop_lat_south',
 'stop_lon_south'], separator=',').alias('concatenation')
)

In [314]:
final

shape: (29, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ Line       ┆ Northern   ┆ Southern   ┆ stop_lon_ ┆ stop_lat_ ┆ stop_lon_ ┆ stop_lat_ ┆ concatena │
│ ---        ┆ Terminus   ┆ Terminus   ┆ north     ┆ north     ┆ south     ┆ south     ┆ tion      │
│ str        ┆ (Stop ID)  ┆ (Stop ID)  ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│            ┆ ---        ┆ ---        ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ str       │
│            ┆ str        ┆ str        ┆           ┆           ┆           ┆           ┆           │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1          ┆ 101        ┆ 142        ┆ -73.89858 ┆ 40.889248 ┆ -74.01366 ┆ 40.702068 ┆ 40.889248 │
│            ┆            ┆            ┆ 3         ┆           ┆ 4         ┆           ┆ ,-73.8985 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 83,40.702 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 068…      │
│ 2          ┆ 201        ┆ 247        ┆ -73.85062 ┆ 40.903125 ┆ -73.94764 ┆ 40.632836 ┆ 40.903125 │
│            ┆            ┆            ┆           ┆           ┆ 2         ┆           ┆ ,-73.8506 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 2,40.6328 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 36,…      │
│ 3          ┆ 301        ┆ 257        ┆ -73.93647 ┆ 40.82388  ┆ -73.88407 ┆ 40.666235 ┆ 40.82388, │
│            ┆            ┆            ┆           ┆           ┆ 9         ┆           ┆ -73.93647 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ ,40.66623 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 5,-…      │
│ 4          ┆ 401        ┆ 250        ┆ -73.87875 ┆ 40.886037 ┆ -73.93294 ┆ 40.668897 ┆ 40.886037 │
│            ┆            ┆            ┆ 1         ┆           ┆ 2         ┆           ┆ ,-73.8787 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 51,40.668 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 897…      │
│ 5          ┆ 501        ┆ 247        ┆ -73.83083 ┆ 40.8883   ┆ -73.94764 ┆ 40.632836 ┆ 40.8883,- │
│            ┆            ┆            ┆ 4         ┆           ┆ 2         ┆           ┆ 73.830834 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ ,40.63283 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 6,-…      │
│ …          ┆ …          ┆ …          ┆ …         ┆ …         ┆ …         ┆ …         ┆ …         │
│ W          ┆ R01        ┆ R27        ┆ -73.91203 ┆ 40.775036 ┆ -74.01299 ┆ 40.703087 ┆ 40.775036 │
│            ┆            ┆            ┆ 4         ┆           ┆ 4         ┆           ┆ ,-73.9120 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 34,40.703 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 087…      │
│ Z          ┆ G05        ┆ M23        ┆ -73.80110 ┆ 40.702147 ┆ -74.01105 ┆ 40.706476 ┆ 40.702147 │
│            ┆            ┆            ┆ 9         ┆           ┆ 6         ┆           ┆ ,-73.8011 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 09,40.706 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 476…      │
│ S (42nd St ┆ 902        ┆ 901        ┆ -73.98622 ┆ 40.755983 ┆ -73.97918 ┆ 40.752769 ┆ 40.755983 │
│ Shuttle)   ┆            ┆            ┆ 9         ┆           ┆ 9         ┆           ┆ ,-73.9862 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 29,40.752 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 769…      │
│ S          ┆ H04        ┆ H15        ┆ -73.81592 ┆ 40.608382 ┆ -73.83559 ┆ 40.580903 ┆ 40.608382 │
│ (Rockaway  ┆            ┆            ┆ 5         ┆           ┆ 2         ┆           ┆ ,-73.8159 │
│ Shuttle)   ┆            ┆            ┆           ┆           ┆           ┆           ┆ 25,40.580 │
│            ┆            ┆            ┆           ┆           ┆           ┆           ┆ 903…      │
│ S          ┆ S01        ┆ D26        ┆ -73.95582 ┆ 40.680596 ┆ -73.96224 ┆ 40.661614 ┆ 40.680596 │
│ (Franklin  ┆            ┆            ┆ 7         ┆           ┆ 6         ┆           ┆ ,-73.9558 │
│ Ave        ┆            ┆            ┆           ┆           ┆           ┆           ┆ 27,40.661 │
│ Shuttle)   ┆            ┆            ┆           ┆           ┆           ┆           ┆ 614…      │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

In [315]:
final.columns

['Line',
 'Northern Terminus (Stop ID)',
 'Southern Terminus (Stop ID)',
 'stop_lon_north',
 'stop_lat_north',
 'stop_lon_south',
 'stop_lat_south',
 'concatenation']

In [316]:
final.filter(pl.col('Line') == 'A')

shape: (3, 8)
┌──────┬─────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┐
│ Line ┆ Northern    ┆ Southern   ┆ stop_lon_n ┆ stop_lat_n ┆ stop_lon_s ┆ stop_lat_s ┆ concatenat │
│ ---  ┆ Terminus    ┆ Terminus   ┆ orth       ┆ orth       ┆ outh       ┆ outh       ┆ ion        │
│ str  ┆ (Stop ID)   ┆ (Stop ID)  ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│      ┆ ---         ┆ ---        ┆ f64        ┆ f64        ┆ f64        ┆ f64        ┆ str        │
│      ┆ str         ┆ str        ┆            ┆            ┆            ┆            ┆            │
╞══════╪═════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╡
│ A    ┆ A02         ┆ A65        ┆ -73.919899 ┆ 40.868072  ┆ -73.825798 ┆ 40.685951  ┆ 40.868072, │
│      ┆             ┆            ┆            ┆            ┆            ┆            ┆ -73.919899 │
│      ┆             ┆            ┆            ┆            ┆            ┆            ┆ ,40.685951 │
│      ┆             ┆            ┆            ┆            ┆            ┆            ┆ …          │
│ A    ┆ A02         ┆ H15        ┆ -73.919899 ┆ 40.868072  ┆ -73.835592 ┆ 40.580903  ┆ 40.868072, │
│      ┆             ┆            ┆            ┆            ┆            ┆            ┆ -73.919899 │
│      ┆             ┆            ┆            ┆            ┆            ┆            ┆ ,40.580903 │
│      ┆             ┆            ┆            ┆            ┆            ┆            ┆ …          │
│ A    ┆ A02         ┆ H11        ┆ -73.919899 ┆ 40.868072  ┆ -73.755405 ┆ 40.603995  ┆ 40.868072, │
│      ┆             ┆            ┆            ┆            ┆            ┆            ┆ -73.919899 │
│      ┆             ┆            ┆            ┆            ┆            ┆            ┆ ,40.603995 │
│      ┆             ┆            ┆            ┆            ┆            ┆            ┆ …          │
└──────┴─────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┘

In [317]:
final.join(result_df, on='concatenation', how='left').write_excel("/Users/jjbokan3/Downloads/stop_choosing3.xlsx")